html,body {
   
    background-color:black;  
    padding: 10px;
    margin: 0;
    background: url("background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}
.main{ 
    
    width: 80vw;
    height: 75vh;  
    margin: auto;    
/*    border-top: 2px solid crimson;*/
     border-top: 1px solid white;
    
    

}


.highlights{
    
    color: aliceblue;    
    width: 65%;
    height: 90%;
/*    border: 1px solid white;*/
    margin:2%;
    float:left; 
    box-sizing:border-box;
     display: grid;
    grid-gap:5px;
    grid-template-columns: repeat(8,1fr); 
    grid-template-rows:repeat(6,1fr);
    overflow: hidden;
     
    
}

.highlights > div {

    background-color: rgba(255,255,255,0.2);
    color: alicebluew;
    padding:10%;
    position: relative;
/*    opacity:0.1;*/
/*    border: 2px solid white;*/
    
}

.menu{
    background-color:cadetblue;
    display: flex;
    justify-content: flex-start;
}
.menu a{
    text-decoration: none;
    padding: 20px;
    color: wheat;
}
.menu a:hover{
    background-color: gray;
}
@media screen and (max-width: 600px){
       .menu{
           flex-direction: row;
           padding: 10px;
       }
       menu a{
           background-color: indigo;
           margin: 10px 0;
           text-align: center;
           border-radius: 10px;
       }

       }
}
    
}





